[submodule "kind"]
	path = kind
	url = git@github.com:BodhiHu/kind.git
	branch = bodhi/dev
[submodule "kubesphere-ks-installer"]
	path = kubesphere-ks-installer
	url = git@github.com:kubesphere/ks-installer.git
[submodule "rke"]
	path = rke
	url = https://github.com/rancher/rke.git
[submodule "rancher"]
	path = rancher
	url = git@github.com:rancher/rancher.git
[submodule "dapr"]
	path = dapr
	url = git@github.com:BodhiHu/dapr.git
	branch = v1.9.4
[submodule "dapr-cli"]
	path = dapr-cli
	url = git@github.com:BodhiHu/dapr-cli.git
	branch = v1.9.1
[submodule "dapr-quickstarts"]
	path = dapr-quickstarts
	url = git@github.com:dapr/quickstarts.git
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:kubernetes/kubernetes.git
[submodule "kubesphere"]
	path = kubesphere
	url = git@github.com:BodhiHu/kubesphere.git
[submodule "gofiber-recipes"]
	path = gofiber-recipes
	url = git@github.com:gofiber/recipes.git
[submodule "spring-tutorials"]
	path = spring-tutorials
	url = git@github.com:eugenp/tutorials.git
[submodule "antd-dashboard-libs"]
	path = antd-dashboard-libs
	url = git@github.com:BodhiHu/antd-dashboard-libs.git
[submodule "dapr-sdk-java"]
	path = dapr-sdk-java
	url = https://github.com/dapr/java-sdk.git
[submodule "dapr-sdk-go"]
	path = dapr-sdk-go
	url = https://github.com/dapr/go-sdk.git
[submodule "dapr-sdk-python"]
	path = dapr-sdk-python
	url = https://github.com/dapr/python-sdk.git
[submodule "dapr-components-contrib"]
	path = dapr-components-contrib
	url = https://github.com/dapr/components-contrib.git
[submodule "dapr-docs"]
	path = dapr-docs
	url = https://github.com/dapr/docs.git
[submodule "ionic-docs-demo"]
	path = ionic-docs-demo
	url = https://github.com/ionic-team/docs-demo.git
[submodule "spring-blade"]
	path = spring-blade
	url = https://gitee.com/bodhihu/SpringBlade.git
[submodule "spring-blade-tool"]
	path = spring-blade-tool
	url = https://gitee.com/bodhihu/blade-tool.git
[submodule "spring-cloud-startkit"]
	path = spring-cloud-startkit
	url = git@github.com:BodhiHu/SpringCloud.git
[submodule "spring-learn-all"]
	path = spring-learn-all
	url = git@github.com:BodhiHu/Learn-Spring-All.git
[submodule "element-plus"]
	path = element-plus
	url = git@github.com:element-plus/element-plus.git
[submodule "element-pro-components"]
	path = element-pro-components
	url = https://github.com/tolking/element-pro-components.git

[submodule "k8s-helm-charts"]
	path = k8s-helm-charts
	url = git@github.com:bodhitreestudio/k8s-helm-charts.git
[submodule "istio"]
	path = istio
	url = git@github.com:istio/istio.git
  branch = release-1.14

[submodule "kubesphere-console"]
	path = kubesphere-console
	url = git@github.com:kubesphere/console.git
[submodule "rancher-dashboard"]
	path = rancher-dashboard
	url = https://github.com/bodhitreestudio/dashboard.git
	branch = release-2.7.1

