[submodule "kind"]
	path = kind
	url = git@github.com:BodhiHu/kind.git
  branch = bodhi/dev
[submodule "kubesphere-ks-installer"]
	path = kubesphere-ks-installer
	url = git@github.com:kubesphere/ks-installer.git
[submodule "rke"]
	path = rke
	url = https://github.com/rancher/rke.git
[submodule "rancher"]
	path = rancher
	url = git@github.com:rancher/rancher.git
[submodule "dapr"]
	path = dapr
	url = git@github.com:BodhiHu/dapr.git
  branch = v1.9.4
[submodule "dapr-cli"]
	path = dapr-cli
	url = git@github.com:BodhiHu/dapr-cli.git
  branch = v1.9.1
[submodule "dapr-quickstarts"]
	path = dapr-quickstarts
	url = git@github.com:dapr/quickstarts.git
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:kubernetes/kubernetes.git
[submodule "kubesphere"]
	path = kubesphere
	url = git@github.com:BodhiHu/kubesphere.git
